@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
  background-color: aliceblue;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, button, i {
    cursor: pointer;
    text-decoration: none;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

select:focus {
    outline: none;
}

li {
    list-style: none;
}

main {
    position: relative;
}

main .extra-items {
    min-height: 100vh !important;
    height: auto !important;
}

.MuiPagination-root {
    position: absolute;
    bottom: 20px;
}
